.common_popup {
  z-index: 99999999999 !important;
  background: #00000075;
}

.common_popup .modal-header h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #1a1a1a;
  width: 100%;
}
.common_popup .modal-header button.btn-close {
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 999999;
}

.common_popup .modal-dialog .modal-content {
  padding: 25px;
}
