.about_top {
  background: rgba(248, 111, 3, 0.16);
  padding-top: 150px;
  padding-bottom: 120px;
  text-align: center;
}

.about_top h2 {
  margin-bottom: 15px;
}

.about_top span {
  font-size: 18px;
  font-size: 500;
  font-family: "Inter", serif;
}

.about_top h6 {
  font-size: 20px;
  font-weight: 400;
  color: rgba(61, 45, 33, 1);
  margin-top: 30px;
  letter-spacing: 1px;
}

.vision p {
  color: rgb(78 78 78);
  font-size: 26px;
  font-weight: 400;
  font-family: "Urbanist", serif;
  line-height: 40.8px;
}

.about_us .total_counter {
  background: none;
  margin-bottom: 80px;
}
.about_us .total_counter .counter_inner {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
}
