.terms-area {
  padding: 80px 0;
}

.terms-info-wrap {
  padding: 40px 40px !important;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  background: #f7f7fa;
}

.terms-info-wrap h4 {
  font-size: 30px;
}
.terms-info-wrap ul {
  margin-top: 20px;
}
.terms-info-wrap ul li {
  list-style: decimal;
  margin-left: 40px;
  padding-bottom: 10px;
}
