.register-area {
  padding: 150px 0;
}

.register-area .contact-form-wrap .title {
  font-size: 36px;
  margin-bottom: 10px;
}

.register-area ::placeholder {
  color: rgba(61, 45, 33, 1);
}

.register-area .already {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-area .already a {
  color: #5751e1;
}

.register-area .btn_secondary {
  justify-content: center;
}
.register-area .img_sec img {
  max-width: 380px;
  margin: 0 auto;
  display: block;
}
.register h3 {
  font-size: 50px;
}
.register-area h3 {
  color: var(--tg-theme-primary) !important;
  font-size: 40px;
}
.register-area h3 span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}
.register-area .btn_secondary {
  font-size: 23px;
  padding: 5px 16px;
}
.register-area span.btn-link {
  font-weight: 300;
  text-decoration: none;
}
