.review {
  position: relative;
}
.review .review_inner {
  padding: 0 50px;
  position: relative;
}

.review_inner .review_content {
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 40px;
  width: 750px;

  position: absolute;
  bottom: -100px;
  right: -40px;

  /* z-index: 999; */
  background: rgba(255, 255, 255, 1);
}

.review_inner .review_content_inner {
  display: flex;
  width: 100%;
}
.review_inner .review_content .author {
  width: 700px;
  text-align: end;
  margin-right: 35px;
}
.review_inner .review_content .author img {
  margin-left: auto;
}

.review_inner .review_content .author h2 {
  color: rgba(237, 115, 48, 1);
  font-size: 24px;
  margin-top: 10px;
  font-weight: 500;
}
.review_inner .review_content .author p {
  color: rgba(255, 120, 42, 1);
  font-size: 16px;
  font-weight: 400;
}

.review_inner .review_content .author_content p {
  color: rgba(237, 115, 48, 1);
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}

.review .shape1 {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 50px;
}

.review_inner .slick-dots {
  bottom: -12px;
  left: 180px;
  width: auto;
}

.review_inner .slick-dots li button:before {
  color: rgba(237, 115, 48, 1);
  opacity: 1;
}
.review_inner .slick-dots li.slick-active button:before {
  color: rgba(61, 45, 33, 1);
  opacity: 1;
}
.review_inner .slick-dots li button {
  padding: 0;
}

.review_inner .slick-dots li {
  width: 12px;
}
