.total_counter {
  background: rgba(248, 111, 3, 0.45);
  padding: 50px 0;
}
.total_counter .content {
  padding: 30px 0;
  text-align: center;
}
.total_counter .content h2 {
  font-size: 64px;
  color: rgba(44, 43, 43, 1);
  font-weight: 600;
}
.total_counter .content p {
  font-size: 28px;
  font-weight: 600;
  color: rgba(61, 45, 33, 1);
}

.home_single_blog {
  padding-bottom: 80px;
}
.home_single_blog .content h5 {
  color: #ed7330;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.home_single_blog .content p {
  color: #3d2d21;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "Inter", serif;
}
/*  */
.latest_sec h4 {
  color: #ff782a;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 15px;
}
.latest_sec ul li {
  display: flex;
  margin-bottom: 18px;
}

.latest_sec ul li img {
  max-width: 160px;
  margin-right: 15px;
  border-radius: 8px;
}

.latest_sec ul li .contents h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #ed7330;
  margin-bottom: 5px;
}

.latest_sec ul li .contents p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", serif;
  margin-bottom: 5px;
}

.latest_sec ul li .contents a {
  color: #968374;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.plan {
  position: relative;
}
.plan .shape2 {
  position: absolute;
  top: 105px;
  left: 15%;
  width: 35px;
}
.plan .shape3 {
  position: absolute;
  top: 170px;
  left: 20%;
}
.plan .shape1 {
  position: absolute;
  top: 260px;
  right: 18%;
}
.plan .shape4 {
  position: absolute;
  top: 220px;
  right: 15%;
}
.faq_sec {
  background: rgba(255, 245, 238, 1);
}
@media (min-width: 1700px) {
  .plan .shape2 {
    position: absolute;
    top: 105px;
    left: 24%;
    width: 35px;
  }
  .plan .shape3 {
    position: absolute;
    top: 170px;
    left: 28%;
  }
  .plan .shape1 {
    position: absolute;
    top: 30%;
    right: 20%;
  }
  .plan .shape4 {
    position: absolute;
    top: 220px;
    right: 18%;
  }
}

@media (max-width: 1024px) {
  .total_counter .content h2 {
    font-size: 34px;
  }
  .total_counter .content p {
    font-size: 20px;
  }
  .total_counter {
    padding: 20px 0;
  }
}
.latest_sec ul li {
  align-items: flex-start;
}
.latest_sec ul li img {
  max-width: 220px;
  margin-right: 15px;
  border-radius: 8px;
}
.home_single_blog .card_image {
  border-radius: 20px;
  overflow: hidden;
}
/*  */


.hero-section {
  color: white;
  padding: 100px 20px;
  text-align: center;    margin-top: 90px;min-height: 630px;padding-bottom: 0;
}
.hero-title {
  font-size: 2.8rem;
  font-weight: 700;color: #ff6b00;
}
.hero-subtitle {
  font-size: 1.3rem;
  margin-top: 15px;color: #000;
}
.cta-button {
  margin-top: 30px;
}
.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
}
/* .hero-section:after {
  background-color: rgba(255, 245, 238, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  height: 100%;
  opacity: .7;
}

.hero-section .container {
  position: relative;
  z-index: 9999;
} */
.image_fram img {
  width: 100%;
  max-width: 100%;
  border: 13px solid #ff6c0e;
  padding: 13px;
  background: #ff6c0ede;
  max-width: 450px;
}

.hero_section2 img {
  max-width: 450px;
  border-radius: 20px;
}



/*  */

.hero_section2 {
  background-size: cover;
  position: relative;
  margin: 0;
}

.hero_section2:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000000c9;
}

.hero_section2 .container {
  position: relative;
  z-index: 999;
}

.hero_section2 .container * {
  color: #fff;
}


/*  */
@media (min-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
  .hero-subtitle {
    font-size: 16px;
  }
}