.hero_banner.talentHub {
  align-items: flex-end;
  position: relative;

  background: #183965;
  padding-top: 100px;
  min-height: 660px;
}
.hero_banner .banner-content {
  padding-left: 200px;
}

.hero_banner .banner-content h1,
.hero_banner .banner-content p {
  color: #fff;
}
/* about_vvgrad */

.about_vvgrad .about_img img {
  max-width: 500px;
  width: 100%;
}
.about_vvgrad .about_img .vector {
  position: absolute;
  bottom: 40px;
  left: -7px;
}
/* course_overview */
.course_overview {
  background: #ecf6ff;
}
.course_overview .about_img .vector {
  left: unset;
  right: 80px;
  bottom: -6px;
}
.course_overview .about_img .shape {
  left: 50px;
  right: unset;
  top: -60px;
}
/*  */
.eligibility .about_img img {
  max-width: 381px;
}

.ceo {
  background: rgba(246, 248, 255, 1);
}

.ceo .achiver_box {
  background: #fff;
}
/*  */
.instructions_sec,
.potential {
  background-color: #ecf6ff;
}
.instructions_sec ul.icon_with li {
  margin-bottom: 15px;
}
.instructions_sec ul.icon_with li img {
  margin-right: 18px;
}

.instructions_sec ul.icon_with li h5 {
  font-size: 19px;
  color: rgba(242, 99, 34, 1) !important;
}

.instructions_sec ul.icon_with li p {
  color: #28264e;
}
.instructions_sec .about_img .shape {
  left: -50px;
  right: unset;
  top: -20px;
}
.instructions_sec .about_img {
  float: right;
}
.instructions_sec .about_img .vector {
  left: unset;
  right: -52px;
  bottom: 80px;
}

.support .tab_sec li h5 {
  font-size: 19px;
  color: rgba(242, 99, 34, 1) !important;
}

.support ul.tab_sec li {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

.support ul.tab_sec li:first-child {
  background: #efecff;
}

.support ul.tab_sec li:nth-child(2) {
  background: #ebf9ff;
}
.support .about_img .vector {
  left: -48px;
  bottom: 50px;
}
.support .about_img .shape {
  top: -34px;
  right: 135px;
}
.potential .card {
  padding: 25px;
  border: 0;
  height: 100%;
}
.potential .card .card-title {
  color: #000;
  font-size: 24px;
}
.potential .card h6 {
  color: rgba(242, 99, 34, 1) !important;
  font-size: 19px;
  margin: 6px 0;
}
.potential .card p.card-text {
  color: #28264e;
  font-size: 18px;
  line-height: 24px;
  font-family: "Poppins", serif;
  font-weight: 200;
}
.opportunities p.card-text {
  color: #5a5a5a;
  font-size: 17px;
}

.opportunities h5.card-title {
  color: #000;
  font-size: 24px;
  text-align: center;
}
.opportunities .card .card-body h5.card-title {
  max-width: 285px;
  margin: 0 auto;
}
.opportunities .card {
  border: 0;
}
.course .choose_img {
  position: relative;
}

.course .choose_img .shape {
  left: 20px;
  right: unset;
}
.course .choose_img img {
  z-index: 9999;
  position: relative;
}
.course .choose_img .vector {
  position: absolute;
  bottom: 66px;
  left: unset;
  right: 80px;
}
.course .inner_content ul li {
  list-style: disc;
}
.certification .choose_img .vector {
  position: absolute;
  bottom: 23px;
  left: 110px;
}
.achiver_cont {
  background: linear-gradient(96.16deg, #0663bf 4.75%, #f26322 99.36%);
  height: 100%;
  border-radius: 29px;
  text-align: center;
  padding: 15px 10px;
}

.achiver_cont * {
  color: #fff;
}

.achiver_cont .rating {
  background: #fff;
}

.achiver_cont .rating i {
  color: #f26322;
}
.achiver_cont h4 {
  font-size: 36px;
  margin-bottom: 10px;
}
.achiver_cont p {
  line-height: 23px;
}
.achiver_cont .rating {
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 63px;
  padding: 3px 7px;
  margin-bottom: 14px;
}
/* faq talent */

.talentFAq.faq .faq_list li b {
  color: #20197d;
  font-weight: 600;
}
.talentFAq.faq .faq_list li p {
  color: #29264e;
  font-weight: 300;
}
/* talentGetTouch */

.get_touch {
  position: relative;
  min-height: 545px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get_touch .shape1 {
  position: absolute;
}
.get_touch .shape1 {
  position: absolute;
  top: 0;
  right: 0;
}
.get_touch .shape2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.get_touch .shape3 {
  position: absolute;
  left: 50px;
  top: 50px;
}
.get_touch .shape3 img,
.get_touch .shape4 img {
  max-width: 247px;
}
.get_touch .shape1 img,
.get_touch .shape2 img {
  max-width: 209px;
}
.get_touch .shape4 {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.insights_sec button.slick-arrow.slick-prev {
  position: absolute;
  left: -180px;
  bottom: 30px;
  top: unset;
}
.hero_banner.talentHub {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.hero_banner.talentHub {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero_banner.talentHub .containers {
  height: 565px;
}

.hero_banner.talentHub .containers .row.align-items-center {
  height: 100%;
}
.insights_sec button.slick-arrow.slick-next {
  position: absolute;
  left: -110px;
  bottom: 30px;
  top: unset;
}
.achievers.insights_sec.ceo .slick-slide {
  padding: 0 7.5px; /* Add 10px spacing on both sides */
}

@media (max-width: 767px) {
  .breakdown .choose_img {
    margin-top: 60px;
  }
  .instructions_sec ul.icon_with li span:first-child {
    padding-right: 10px;
  }
  section.about_vvgrad.potential .card-body {
    padding: 0;
    padding-top: 10px;
  }
  .hero_banner.talentHub .containers {
    height: 400px;
  }
  .hero_banner.talentHub {
    min-height: 400px;
  }
}
