.mentor {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 50px;
}

.mentor h2 {
  margin-bottom: 15px;
}

.mentor span {
  font-size: 18px;
  font-size: 500;
  font-family: "Inter", serif;
}
