.courses {
  padding-top: 150px;
  text-align: center;
  /* padding-bottom: 50px; */
}

/*  */

.courses_details .course_sec h4 {
  font-size: 48px;
  color: #ed7330;
  line-height: 58px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.courses_details .course_sec h5 {
  color: #ff782a;
  line-height: 33px;
  font-size: 28px;
  margin-bottom: 10px;
}

.courses_details .course_sec p,
.courses_details .course_sec ul li {
  color: #3d2d21;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.courses_details .course_sec ul.list_check li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.courses_details .course_sec ul.list_check li::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../../assets/image/check_icon.png);
  background-size: cover;
}

/* \ */

.course_detail_box {
  background: #fff5ee;
  padding: 0 25px;
  padding-bottom: 30px;
  border-radius: 20px;
  margin-top: 20px;
}
.course_sec .course_detail_box h5 {
  margin-top: 25px;
}
.course_detail_box span.price {
  background: #f86f03;
  color: #fff;
  padding: 12px 14px;
  display: block;
  margin-bottom: 10px;
  max-width: fit-content;
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  border-radius: 0 0 20px 20px;
}
.course_detail_box ul li {
  display: flex;
  justify-content: space-between;
}

.course_detail_box ul li span {
  display: inline-block;
  color: #f86f03;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.course_detail_box ul li span img {
  margin-right: 12px;
}

button.join_course {
  background: #968374;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  width: 100%;
  padding: 14px 15px;
  border-radius: 10px;
}

/*  */

.video_player {
  width: 100% !important;
  border-radius: 20px;
  overflow: hidden;
  height: 439px !important;
}
.course_single .course_heading {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.course_single .course_heading h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.course_single .course_heading ul {
  display: flex;
  align-items: baseline;
}
.course_single .course_heading ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: #b0b0b0;
  background: #f0f0f0;
  margin-right: 10px;
}

.course_detail {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.course_detail li {
  padding: 0 15px;
  position: relative;
  height: 100%;
}

.course_author {
  display: flex;
  align-items: center;
}
.course_author img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.course_author p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.course_author span {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

.course_review,
.course_video,
.course_student {
  font-size: 12px;
  font-weight: 400;
  color: #676767;
  display: flex;
  align-items: center;
}
.course_review i {
  color: #f0b51b;
  font-size: 18px;
  margin-right: 5px;
}

.course_videos .video_link {
  cursor: pointer;
}
.course_video i,
.course_student i {
  color: #ff7d38;
  font-size: 18px;
  margin-right: 5px;
}

.courses__details-content .nav-tabs {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  gap: 12px;
  margin-bottom: 40px;
}

.courses__details-content .nav-tabs .nav-link {
  /* background: #e6e9ef; */
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  border-bottom: 2px solid transparent;

  color: #676767;

  padding: 14px 30px;
  line-height: 1;
  display: block;

  transition: all 0.3s ease-out 0s;
}
.courses__details-content .nav-tabs .nav-link:hover,
.courses__details-content .nav-tabs .nav-link.active {
  border-bottom: 2px solid #ff7d38;
  color: #676767;
}

.courses__details-content .nav-link:focus {
  color: #676767 !important;
}

.tab-content {
  position: relative;
}

.courses__details-content .courses_about p {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  margin-bottom: 15px;
}

.courses__rating-wrap {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;

  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 35px 40px 70px 40px;
}
.courses__rating-wrap .title {
  margin-bottom: 30px;
  font-size: 24px;
}

.course-rate {
  display: flex;
  align-items: center;
  gap: 36px;
}

.course-rate__summary {
  background: #fff;
  border: 1px solid #e6eaef;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  width: 180px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 33px 20px;
  gap: 3px;
}

.course-rate__summary-value {
  color: #082a5e;
  font-weight: 600;
  font-size: 64px;
  line-height: 0.8;
}

.course-rate__summary-stars {
  font-size: 15px;
  color: #f8bc24;
}

.course-rate__summary-text {
  color: #5a7093;
}
.course-rate__details {
  flex-grow: 1;
}

.course-rate__details-row {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  margin: 0 0 17px;
}
.course-rate__details-row:last-child {
  margin: 0;
}

.course-rate__details-row-star {
  font-size: 20px;
}

.course-rate__details-row-star i {
  font-size: 17px;
  color: #f8bc24;
  margin-left: 3px;
}

.course-rate__details-row-value {
  position: relative;
  margin-right: 20px;
  flex-grow: 1;
}

.course-rate__details-row-value .rating-gray {
  background: #e0e3eb;
  border-radius: 50px;
  height: 7px;
}
.course-rate__details-row-value .rating {
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  background: #f8bc24;
  border-radius: 50px;
}

.course-rate__details-row-value .rating-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  font-size: 20px;
}

.course-review-head {
  display: flex;
  align-items: center;
  border-top: 1px solid #dfdfdf;
  padding-top: 55px;
  margin-top: 60px;
  gap: 20px;
}
.course-review-head .review-author-thumb {
  width: 80px;
  flex: 0 0 auto;
}

.course-review-head .review-author-thumb img {
  border-radius: 50%;
  width: 100%;
}

.course-review-head .review-author-content .author-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.course-review-head .review-author-content .author-name .name {
  margin-bottom: 0;

  display: flex;
  align-items: center;
  gap: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #6d6c80;
}

.course-review-head .review-author-content .author-name .name span {
  font-size: 14px;
  font-weight: 400;
  color: #7f7e97;
}

.course-review-head .review-author-content .author-name .author-rating {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #f8bc24;
}

.right_side .accordion-item {
  border: 1px solid #f0f0f0;
  border-radius: 20px !important;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 10px 0;
}

.right_side .accordion-button {
  border: none;
  font-size: 21px;
  font-weight: 500;
  border-radius: unset !important;
  padding: 10px 10px;
  color: #1c1c1c !important;
  background-color: unset !important;
  box-shadow: none;
  justify-content: space-between;
}

.right_side .accordion-button span {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
}

.right_side .accordion-button::after {
  margin-left: 0;
  /* background-color: #ff7d38; */
  background-blend-mode: multiply;
  padding: 5px;
  border-radius: 50%;
}

.right_side .download_button {
  width: 100%;
  text-align: center;
  font-size: 21px;
  border: none;
  background: #ff7d38;
  color: #fff;
  border-radius: 20px;
  padding: 15px 10px;
}

/*  */

ul.course_videos li svg {
  background: #f0f0f0;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
}

ul.course_videos li {
  padding: 9px 0;
  display: flex;
  position: relative;
}

/* ul.course_videos li span {
  padding-left: 10px;
} */

ul.course_videos li:before {
  position: absolute;
  left: 10px;
  top: 0;
  content: "";
  background: #f0f0f0;
  width: 2px;
  height: 100%;
  transform: translate(2px, -10px);
}

ul.course_videos {
  padding-top: 25px;
}
.accordion-collapse .accordion-item {
  border: 0;
  margin: 0;
}

/*-----------course box---------*/

.my_course {
  padding-top: 120px;
}
.my_course .coaching_box {
  box-shadow: 0px 4px 19.1px 0px rgba(0, 0, 0, 0.14);
  background: rgba(255, 245, 238, 1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.my_course .coaching_box .content {
  padding: 20px;
}

.my_course .coaching_box .content ul,
.my_course .coaching_box .content ul li {
  display: flex;
  align-items: center;
}

.my_course .coaching_box .content ul li img {
  margin-right: 10px;
}
.my_course .coaching_box .content h4 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(237, 115, 48, 1);
  margin-top: 15px;
}

.my_course .coaching_box .content ul li {
  margin-right: 10px;
  color: rgba(248, 111, 3, 1);
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", serif;
}

.my_course .author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_course .author_name {
  display: flex;
  align-items: center;
}

.my_course .author_name p {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.my_course .author_name p span {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", serif;

  color: rgba(237, 115, 48, 1);
}
.my_course .author_name p small {
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", serif;

  color: rgba(150, 131, 116, 1);
}

.my_course .author .plus_icon {
  font-size: 28px;
}

.my_course .tag {
  position: absolute;
  top: 10px;
  right: 15px;
  background: rgba(150, 131, 116, 1);
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", serif;
  padding: 6px 30px;
}

@media (max-width: 991px) {
  .best_coaching_tab .nav-link {
    padding: 8px 16px;
  }

  .best_coaching_tab .nav-pills {
    margin: 0;
    width: 100%;
  }
}

/*  */

.pagination-container button.btn-primary {
  background: var(--tg-theme-secondary);
}

.pagination-container button.btn.btn-dark {
  background: #ff6d16;
  border-color: #ff6d16;
}

.pagination-container .btn-outline-primary {
  color: #ff6d16 !important;
  border-color: #ff6d16 !important;
}
.pagination-container .btn-outline-primary:hover {
  color: #fff !important;
  background: #ff6d16;
}
/*  */

.my_course .author .plus_icon i.far.fa-heart {
  font-size: 20px;
  cursor: pointer;
}

.my_course .author .plus_icon i.far.fa-heart:hover {
  font-weight: 600;
}

.disabled-video {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
